<div class="full-screen">
    <section class="career">

        <div class="career__header">
            <h2 class="career__headline">Platform Technology Analyst</h2>
            <a href="#" class="career__close career-trigger">{{site.closeicon}}</a>
        </div>

            <div class="career__info-container">

                <div class="career__text">
                    <p class="career__copy">We are on the lookout for a Platform Technology Analyst to run due diligence on our server solutions.</p>
                    <p class="career__copy">This role is based in London, United Kingdom, and reports to the Senior R&D Manager, Platform.</p>
                </div>

                <h3 class="career__subheadline">Requirements</h3>

                <ul class="career__requirements">
                    <li class="career__requirements-item">Experience in commercial software development</li>
                    <li class="career__requirements-item">Deep knowledge of data structures and algorithms</li>
                    <li class="career__requirements-item">Experience programming in C++</li>
                    <li class="career__requirements-item">Well-versed in C#</li>
                    <li class="career__requirements-item">Passion for computer games</li>
                </ul>

                <h3 class="career__subheadline">Desirable</h3>

                <ul class="career__requirements">
                    <li class="career__requirements-item">Verbal and written proficiency in the Russian language</li>
                    <li class="career__requirements-item">Understanding of Python</li>
                </ul>

            </div>

            <form class="career__form form">
                <h3 class="career__subheadline">Intersted? Fill the Application Form</h3>

                <div class="form__personal-info">
                    <div class="input-container">
                        <span class="input-hint form__hint-name">your name</span>
                        <input type="text" class="input" placeholder="Your name">
                    </div>

                    <div class="input-container">
                        <span class="input-hint form__hint-email">Your email address</span>
                        <input type="text" class="input" placeholder="Your email address">
                    </div>
                </div>

                <div class="file-input-container">
                    <label class="file-input-container">
                        <input type="file" class="file-input" placeholder="Choose CV to upload">
                        <span class="input input-placeholder ">Choose CV to upload</span>
                        <span class="file-input-button"> chose file </span>
                    </label>
                    <span class="file-input-hint form__hint-CV">File must be less than 25 Mb in doc/txt/jpg/pdf format</span>
                </div>

                <button class="form__button">APPLY FOR THIS JOB</button>
            </form>

    </section>
</div>