<footer class="footer">

    <!--makes a margins on "1080"-->
    <div class="section-wrapper">

        <div class="footer-nav">

            <a class="footer-nav__logo" href="#"></a>

            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a href="#" data-goto="2" class="footer-nav__link">Streaming Platform</a>
                </li>
                <li class="footer-nav__item">
                    <a href="#" data-goto="3" class="footer-nav__link">Our team</a>
                </li>
                <li class="footer-nav__item">
                    <a href="#" data-goto="4" class="footer-nav__link">Join the team</a>
                </li>
                <li class="footer-nav__item">
                    <a href="#" class="footer-nav__link">Contact us</a>
                </li>
            </ul>

        </div>


        <div class="footer__container">
            <span class="footer__copyrating">Copyright  2017. All Rights Reserved  </span>
            <ul class="footer__shared shared">
                <li class="footer__shared-item shared__item">
                    <a href="#" class="footer__shared-link shared__link twitter-icon"> </a>
                </li>
                <li class="footer__shared-item shared__item">
                    <a href="#" class="footer__shared-link shared__link icon in-icon"> </a>
                </li>
                <li class="footer__shared-item shared__item">
                    <a href="#" class="footer__shared-link shared__link icon facebook-icon"> </a>
                </li>
            </ul>
        </div>
        
    </div>

</footer>