<header class="header main-section" data-section-id="1"  data-scroll="top">

    <div class="section-wrapper header-wrapper">

        <div class="header__body">
            <p class="header__text">
                <span>Feel the moment</span>
                <span> and share it with millions fans </span>
            </p>
            <a href="#" class="header__more-info">more information</a>
        </div>
        
        <a href="#" class="header__scroll">Scroll for more</a>

    </div>
</header>