<a name="about"></a>


<section class="info-block main-section" data-section-id="5">

    <div class="section-wrapper info-wrapper">

        <div class="info-block__container">
            <span class="info-block__icon"></span>
            <h3 class="info-block__headline">Streaming Platform </h3>
            <p class="info-block__copy">We develop new generation product – the first media space merging a streaming and the blockchain technologies. We’re working at the overlap of huge gaming and eSports markets ($100 bln and $1.2 bln in 2017 respectively) and revolutionary blockchain technology.</p>
            <p class="info-block__copy-bold">We require more professionals!</p>
            <p class="info-block__copy">We invite high profile developers and IT specialists to project that will change landscape of the world of top technology and eSports – applying blockchain technology in completely new spheres.</p>
            <a href="#" class="info-block__button">All vacancies</a>
        </div>
        
    </div>

</section>
