<a name="about"></a>


<section class="info-block main-section" data-section-id="5">

    <div class="section-wrapper info-wrapper">

        <div class="info-block__container">
            <span class="info-block__icon"></span>
            <h3 class="info-block__headline">{{ site.streaming_platform[page.lang]}}</h3>
            <p class="info-block__copy">{{ site.streaming_platform_text1[page.lang] }}</p>
            <p class="info-block__copy-bold">{{ site.streaming_platform_text2[page.lang] }}</p>
            <p class="info-block__copy">{{ site.streaming_platform_text3[page.lang] }}</p>
            <a href="#" class="info-block__button" data-block="join-team" data-scroll-to="4">{{ site.streaming_platform_button[page.lang] }}</a>
        </div>
        
    </div>

</section>
