<a name="about"></a>


<section class="info-block main-section" data-section-id="5">

    <div class="section-wrapper info-wrapper">

        <div class="info-block__container">
            <span class="info-block__icon"></span>
            <h3 class="info-block__headline">Streaming Platform </h3>
            <p class="info-block__copy">We create a platform for exchanging emotions, experiences and opinions. Strimingovye broadcast eSports events has never been so reachable.</p>
            <a href="#" class="info-block__button">All vacancies</a>
        </div>
        
    </div>

</section>
