<section class="join-team section">

    <div class="section-wrapper">

       {% include nav.html %}        

        <div class="join-team__block">
            <h3 class="join-team__headline">Join the team</h3>
            <p class="join-team__copy">Welcome to our creative teams based in London, Los Angeles and San Francisco. We always need in young, talented and smart people.</p>
            
            <div class="selection-block">

                <ul class="job-selection">
                    <li class="job-selection__item selection job-location">
                        <a htef="#" class="job-location__current job-selection__current"> ALL Locations</a> 
                        <ul class="job-location__list selection__list">
                            <li>
                                <a htef="#" class="job-location__item selection__item">All categories</a>
                            </li>
                            <li>
                                <a htef="#" class="job-location__item selection__item">London</a>
                            </li>
                            <li>
                                <a htef="#" class="job-location__item selection__item">San Francisco</a>
                            </li>
                        </ul>
                    </li>

                    <li class="job-selection__item job-categories selection">
                        <a htef="#" class="job-categories__current job-selection__current"> ALL categories</a> 
                        <ul class="job-categories__list selection__list">
                            <li>
                                <a htef="#" class="job-categories__item selection__item">All categories</a>
                            </li>
                            <li>
                                <a htef="#" class="job-categories__item selection__item">Management</a>
                            </li>
                            <li>
                                <a htef="#" class="job-categories__item selection__item">Business Analytics</a>
                            </li>
                            <li>
                                <a htef="#" class="job-categories__item selection__item">Engineering & Programming</a>
                            </li>
                            <li>
                                <a htef="#" class="job-categories__item selection__item">Quality Assurance</a>
                            </li>
                            <li>
                                <a htef="#" class="job-categories__item selection__item">IT & Maintenance</a>
                            </li>
                            <li>
                                <a htef="#" class="job-categories__item selection__item">Business Analytics</a>
                            </li>
                        </ul>
                        </ul>
                    </li>
                </ul>

                <div class="selection-result">
                    <ul class="selection-result__list">
                        <li class="selection-result__item">
                            <a href="#" class="selection-result__job-title career-trigger">Technical Director</a>
                            <span class="selection-result__copy">Management, London</span>                            
                        <li>
                        <li class="selection-result__item">
                            <a href="#" class="selection-result__job-title career-trigger">Technical Director</a>
                            <span class="selection-result__copy">Management, London</span>
                        <li>
                    </ul>                            
                </div>

            </div>

        </div>
        
    </div>

</section>
