<section class="map section">
    <div id="map"></div> 
    
    <div class="header-container">
        
        {% include nav.html %}    

    </div> 

    <div class="section-wrapper">

        <ul class="location__list">
            <li class="location__item">
                <a class="location__address">Play2Live London</a>
                <a class="location__phone-number">+48 785 988-8784</a>
                <a href="mailto:hr-london@p2l.com" class="location__e-mail">hr-london@p2l.com</a>
            </li>
            <li class="location__item">
                <a class="location__address">Play2Live Los Angeles</a>
                <a class="location__phone-number">+1 915 988-8784</a>
                <a href="mailto:hr-la@p2l.com" class="location__e-mail">hr-la@p2l.com</a>
            </li>
            <li class="location__item">
                <a class="location__address">Play2Live San Francisco</a>
                <a class="location__phone-number">+1 922 555-54-97</a>
                <a href="mailto:hr-sf@p2l.com" class="location__e-mail">hr-sf@p2l.com</a>
            </li>
            
        </ul>
        
    </div>

</section>
