<a name="team"></a>

<section class="team main-section" data-section-id="3">

    <div class="section-wrapper team-section-wrapper">
        <div class="team__member-block">
            <h3 class="team__headline">{{ site.our_team[page.lang]}}</h3>
            <p class="team__copy">{{ site.our_team_text[page.lang]}}</p>

            <div class="team__member-list">
                <ul>
                    <li class="team__member-item">
                        <div>
                            <img class="team__member-img" src="assets/img/team/d-ch-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item">
                        <div>
                            <img class="team__member-img" src="assets/img/team/mm-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-showed="selected">
                        <div>
                            <img class="team__member-img" src="assets/img/team/ab-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item">
                        <div>
                            <img class="team__member-img" src="assets/img/team/d-ch-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item">
                        <div>
                            <img class="team__member-img" src="assets/img/team/mm-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-showed="selected">
                        <div>
                            <img class="team__member-img" src="assets/img/team/ab-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item">
                        <div>
                            <img class="team__member-img" src="assets/img/team/d-ch-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item">
                        <div>
                            <img class="team__member-img" src="assets/img/team/mm-l.png" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-showed="selected">
                        <div>
                            <img class="team__member-img" src="assets/img/team/ab-l.png" alt="!!!" >
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="team__info-block">
        <div class="section-wrapper">
            <div class="member-info__container">
                <a class="team__member-nav member-nav__prev"></a>

                <ul class="member-info__list">
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.dmitryy_chirun_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.dmitryy_chirun_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.dmitryy_chirun_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.maria_mavreh_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.maria_mavreh_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.maria_mavreh_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.alexey_burdyko_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.alexey_burdyko_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.alexey_burdyko_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.dmitryy_chirun_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.dmitryy_chirun_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.dmitryy_chirun_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.maria_mavreh_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.maria_mavreh_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.maria_mavreh_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.alexey_burdyko_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.alexey_burdyko_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.alexey_burdyko_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.dmitryy_chirun_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.dmitryy_chirun_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.dmitryy_chirun_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.maria_mavreh_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.maria_mavreh_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.maria_mavreh_descr[page.lang]}}
                        </p>
                    </li>
                    <li class="member-info__item">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">{{ site.alexey_burdyko_name[page.lang]}}</span>
                            <span class="member-info__title">{{ site.alexey_burdyko_title[page.lang]}}</span>
                        </h4>
                        <p class="member-info__copy">
                            {{ site.alexey_burdyko_descr[page.lang]}}
                        </p>
                    </li>
                </ul>

                <a class="team__member-nav member-nav__next"></a>

            </div>
        </div>
    </div>



</section>