<a name="team"></a>

<section class="team main-section" data-section-id="3">

    <div class="section-wrapper team-section-wrapper">
        <div class="team__member-block">
            <h3 class="team__headline">Our team</h3>
            <p class="team__copy">Play2Live is a major project, which is being developed by one of the leaders of European IT market.           We’ve raised funds, launched the development – all we need is ambitious and efficient specialists.</p>

            <div class="team__member-list">
                <ul>
                    <li class="team__member-item" data-member-id="1" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item" data-member-id="2" data-showed="middle">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                     <li class="team__member-item" data-member-id="3" data-showed="large">
                         <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-member-id="4" data-showed="selected">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-member-id="5" data-showed="large">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-member-id="6" data-showed="middle">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item " data-member-id="7" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item" data-member-id="8" data-showed="large">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item" data-member-id="9" data-showed="middle">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                    <li class="team__member-item" data-member-id="10" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                     <li class="team__member-item" data-member-id="11" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                     <li class="team__member-item" data-member-id="12" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                     <li class="team__member-item" data-member-id="13" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                     <li class="team__member-item" data-member-id="14" data-showed="small">
                        <div>
                            <img class="team__member-img" src="assets/img/team/1.jpg" alt="!!!" >
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="team__info-block">
        <div class="section-wrapper">
            <div class="member-info__container">
                <a class="team__member-nav member-nav__prev"></a>

                <ul class="member-info__list">
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ALEXEY BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ALEXEY BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">MAX BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ILYA BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ALEXEY BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">MAX BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ILYA BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ALEXEY BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">MAX BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ILYA BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ALEXEY BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">MAX BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ILYA BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                    <li class="member-info__item" data-member-id="1">
                        <h4 class="member-info__headline">
                            <span class="member-info__name">ALEXEY BURDYKO</span>
                            <span class="member-info__title">CEO и основатель</span>
                        </h4>
                        <p class="member-info__copy">
                            Более 10 лет в киберспорте и гейминге.<br>
                            Основатель проекта-лидера киберспорта в РФ и СНГ- Game Show.<br>
                            Оценка Ernst and Young $36,8M.
                        </p>
                    </li>
                </ul>

                <a class="team__member-nav member-nav__next"></a>

            </div>
        </div>
    </div>



</section>