<section class="sign-up">

    <div class="section-wrapper">
        <div class="sign-up__text">
            <h3 class="sign-up__headline">Don’t find your dream job?</h3>
            <p class="sign-up__copy">Sign up for our careers newsletter to know about future updates</p>
        </div>

        <form>
            <input type="text" class="sign-up__input" placeholder="Your email address">
            <button class="sign-up__button">sign up</button>
        </form>
        
    </div>

</section>
