// fonts
$mainFontFamily: 'Fira Sans', sans-serif;

// colors
$mainTextColor: #242424;
$headerTextColor: #fff;

$logoColor: #a5c249;
$headlineColor: #6cc5a5;
$secondaryLogoColor: #0bd0d9;
$thirdLogoColor: #6cc5a5;


$footerBGColor: #494949;



$small: 320px;
$small2x: 480px;
$medium: 640px;
$medium2x: 768px;
$large: 1024px;
$large2x: 1280px;
