
---
---

// Imports
@import "_reset";
@import "_settings";

.wrapper {
    width: 1366px;
}


.header {   
    margin: 0 auto;
    background-image: url('assets/img/header.jpg')
}

.header-wrapper {
    width: 1080;
    margin: 60px auto 30px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    
    margin-right: 305px;
}
               
.site-nav {}
.site-nav__list {
    font-size: 0;
}
.site-nav__item {
    display: inline-block;
    margin-right: 20px;
    }
.site-nav__link {
    font-size: 18px;
    font-weight: 300;
    color: $mainTextColor;
}


.header__body {
    margin-top: 190px;
}
.header__text {
    font-size: 50px;
    font-weight: 300;

}

.header__more-info {
    box-sizing: border-box;
    width: 340px;
    margin-top: 9s5px;
    padding: 20px;
    font-size: 20px;
    color: $mainTextColor;
    text-transform: uppercase;
    border: 1px solid $mainTextColor;
    border-radius: 30px;
}

.header__scroll {
    margin-top: 170px;
    text-align: center

}
.header__scroll-text {
    display: block;
    font-size: 18px;
    color: $mainTextColor;
}
.header__scroll-icon {
    display: block;
    margin-top: 10px;


}