<!doctype html>
<html>

    {% include _head.html %}

    <body>

    <!--{% include mobile-nav.html %}-->
    <!--{% include careers.html %}-->
    <!--{% include site-nav.html %}-->

    <div class="main-wrapper">

            <!--{% include header.html %}-->

            <!--{% include info-block.html %}-->

            <!--{% include join-team.html %}-->

            <!--{% include map.html %}-->

            {% include sign-up.html %}

            {% include footer.html %}
            
        </div>

        <script src="assets/js/js.js"></script>

    </body>

</html>