<!doctype html>
<html>

    {% include _head.html %}

    <body>

    {% include mobile-nav.html %}
    {% include careers.html %}

    <div class="wrapper">

            {% include header.html %}
            
            <a name="info-block"></a>
            {% include info-block.html %}

            <a name="join"></a>
            {% include join-team.html %}

            <a name="contact-us"></a>
            {% include map.html %}

            {% include sign-up.html %}

            {% include footer.html %}
            
        </div>

        <script src="assets/js/js.js"></script>

    </body>

</html>